.common-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.common-input-group label {
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--text-color);
}
.common-input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  box-sizing: border-box;
}
.common-input-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
}